
    body { font-family: sans-serif; background: #1f1f1f; color: white; text-align: center; }
    input, textarea { padding: 10px; border-radius: 5px; border: none; }
    header { border-bottom: 3px solid #00ff62; padding: 20px; }
    